* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* first flex */

.wrapper {
    display: flex;
    flex-direction: column;
    color: #afafaf;
}

.header, .footer {
    width: 100%;
    height: 100px;
}

.header {
    background-color: #343434;
    margin: auto;
}

.footer {
    background-color: #545454;
}

.content {
    display: flex;
    width: 100%;
    height: 80px;
}

.sidebar, .aside {
    width: 20%;
}

.sidebar {
    background-color: #c5c5c5;
}

.aside {
    background-color: #939393;
}

.main {
    width: 60%;
}

.header, .footer, .sidebar, .main, .aside {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* second flex */

.section {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #9dc3e7;
    max-width: 900px;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
} 

.block {
    background-color: #fed966;
    margin-bottom: 20px;
}

.block-1, .block-2 {
    height: 100px;
}

.block-1 {
    width: 200px;
}

.block-2 {
    width: 540px;
}

.block-3, .block-4, .block-5, .block-6, .block-7 {
    height: 70px;
}

.block-3, .block-4, .block-5, .block-6  {
    width: 110px;
}

.block-7 {
    width: 240px;
}

.block-8, .block-9, .block-10 {
    height: 150px;
}

.block-8 {
    width: 200px;
}

.block-9 {
    width: 400px;
}

.block-10 {
    width: 115px;
}

/* third flex */

.overlay {
    background-color: #273b4f;
    padding: 50px;
    width: 50%;
}

.overlay__section {
    background-color: #21263c;
    padding: 50px 0;
    width: 100%;
}

.overlay__block-1 {
    width: 20%;
    height: 50px;
    background-color: #0ea2cb;
}

.overlay__block-2 {
    width: 15%;
    height: 50px;
    background-color: #b6f5a2;
}

.overlay__block-3 {
    width: 40%;
    height: 50px;
    background-color: #8c82e2;
}

.overlay__row-1 {
    display: flex;
    margin-bottom: 20px;
}

.overlay__row-2 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.overlay__row-3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.overlay__row-4 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.overlay__row-5 {
    display: flex;
    justify-content: space-around;
    background-color: #a94f47;
}
